body {
    padding-top: 5rem;
  
  }
 .em-text{
     color:green !important;
     font-size:30px;
     
     font-family: 'Pacifico', cursive;
 }
 section{
     padding:40px 0 0 40px;
 }
 .ch{
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
     font-size:45px;
 }
 .jumbotron{
     background:url(https://images.pexels.com/photos/6251/desk-music-headphones-earphones.jpg) no-repeat top center ;
     color:#fff;
     height:550px;
     background-size:1600px 550px;
     overflow: none;


 }
 .jumbotron h1{
     margin-top:60px;
 }
 .jumbotron p{
     margin-bottom:40px;
 }
 .jumbotron .app-btn{
     width:35%;
     margin-right:30px;
 }
 .jumbotron .phone{
     width:105%;
     height:100%;
     
 }
 .demo{
     padding: 3px;
     border: 2px solid green;
 }
#mid{
    padding-bottom:120px;
}
#fea{
    padding-top:40px;
    padding-bottom:100px;
    background-color:#b5f6c2;
    color:darkgreen;
}
section#fea ul li{
    font-size:22px;
    line-height:2em;
   
}
section#title{
    padding:0;
   margin:0;
    height:80px;
    background-color:lightgreen;
    color:white;
    
}
section#title h1{
  
  padding-top:10px;
  padding-bottom:10px;
  padding-left:70px;
   
}
#card-header h2{
     background-color:red !important;

}
footer{
    background-color:darkgrey;
    color:white;
    padding-top:20px;
   
}
.d{
    float:right;
}
#about{
    padding-bottom:60px;
}
#contact{
    padding-bottom:60px;
    line-height:50px;
}